/*
spalvos
#494E68 STORMY (melsva)
#98878F CLOUD (pilksva?)
#985E6D SUNSET (rusva)
#192231 EVENING (tamsiai pilka)
*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #494E68;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#root {
  height: 100%;
}

#sidebar {
  width: 200px;
  background: #494E68;
  font-size: 20px;
}
#main {
  flex: 1;
}
.dflex{
  display: flex;
}
.verticalFlex {
  flex-direction: column;
}
.horizontalFlex {
  flex-direction: row;
}
.flex {
  flex: 1;
}
a{
  color: white !important;
}
