/** Norint naudoti šį failą reikia turėti VS Code papildinį Easy LESS **/
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/** fast access properties **/
.dflex {
  display: flex;
}
.verticalFlex {
  flex-direction: column;
}
.horizontalFlex {
  flex-direction: row;
}
.flex {
  flex: 1;
}
.fullHeight {
  height: 100%;
}
.fullWidth {
  width: 100%;
}
.textAlign-center {
  text-align: center;
}
.no-outline {
  outline: none;
}
/** Style for exacts elements **/
#entry {
  /** fullscreen **/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  overflow: hidden;
  background: #192231;
  font-size: 20px;
}
#sidebar .navTitle {
  font-size: 52px;
  color: #98878F;
}
#sidebar a {
  background-color: #192231;
}
#sidebar a:hover {
  color: #98878F;
  background-color: #192231 !important;
}
#main {
  flex: 1;
}
