.container{
    position: absolute;
    max-width: 350px;
    min-height: 270px;
    margin: auto;
    background: #192231;
    border-radius: 6px;
    text-decoration: bold;
    font-size: 1.2em;
    color: white;
    transform: translate(-50%,-50%);    
    top: 50%;
    left: 50%;
}
#loginForm{
    display: block;
    text-align: center;
    margin: auto;
}

label{
    margin: 30px 10px 0px 5px;
}

input{
    margin: 30px 10px 0px 5px;
}

legend{
    padding-top: 5px;
    text-align: center;
}